/*design for screen width above 1000px*/
@media screen and (min-width: 1000px) {

    /* design body */
    body {
        background-color: blue;
    }

    /* style heading */
    h1 {
        font-size: 60px;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        margin: 5px;
        text-align: center;
        color: black;

    }

    /*  modifies the introductory paragraph */
    .intro {
        color: white;
        width: 40%;
        margin-left: 500px;
        margin-top: -380px;
        font-size: 20px;

    }

    /* modifies introductory statement */
    strong {
        text-decoration: italic;
    }

    a {
        color: black;
        margin-left: 500px;
    }
}

/*modification for screen above 20px*/
@media screen and (min-width: 20px) {
    body {
        background-color: rgb(101, 101, 241);
    }

    .intro {
        color: black;
    }

    a {
        color: white;
    }
}